#include "windows.h"
#include "defines.h"

IDD_DLGFIRST DIALOG 260, 200, 188, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Win32 Programming"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON "OK", IDOK, 130, 10, 50, 14
END